## 1. 판다스 패키지

## 2. 데이터프레임 만들기

In [1]:
from sklearn import datasets
import pandas as pd

iris_dic = datasets.load_iris()
iris_dic

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [2]:
x = pd.DataFrame(iris_dic.data, columns=iris_dic.feature_names)
y = pd.DataFrame(iris_dic.target_names[iris_dic.target], columns=['species'])

iris = pd.concat([x, y], axis=1)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [3]:
# 데이터프레임 열 이름 변경
iris.columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
import statsmodels.api as sm
iris_data = sm.datasets.get_rdataset('iris', package='datasets')

print(iris_data.title)
print(iris_data.__doc__)

Edgar Anderson's Iris Data
.. container::

   ==== ===============
   iris R Documentation
   ==== ===============

   .. rubric:: Edgar Anderson's Iris Data
      :name: edgar-andersons-iris-data

   .. rubric:: Description
      :name: description

   This famous (Fisher's or Anderson's) iris data set gives the
   measurements in centimeters of the variables sepal length and width
   and petal length and width, respectively, for 50 flowers from each of
   3 species of iris. The species are *Iris setosa*, *versicolor*, and
   *virginica*.

   .. rubric:: Usage
      :name: usage

   ::

      iris
      iris3

   .. rubric:: Format
      :name: format

   ``iris`` is a data frame with 150 cases (rows) and 5 variables
   (columns) named ``Sepal.Length``, ``Sepal.Width``, ``Petal.Length``,
   ``Petal.Width``, and ``Species``.

   ``iris3`` gives the same data arranged as a 3-dimensional array of
   size 50 by 4 by 3, as represented by S-PLUS. The first dimension
   gives the case number within the species subsample, the second the
   measurements with names ``Sepal L.``, ``Sepal W.``, ``Petal L.``, and
   ``Petal W.``, and the third the species.

   .. rubric:: Source
      :name: source

   Fisher, R. A. (1936) The use of multiple measurements in taxonomic
   problems. *Annals of Eugenics*, **7**, Part II, 179–188.

   The data were collected by Anderson, Edgar (1935). The irises of the
   Gaspe Peninsula, *Bulletin of the American Iris Society*, **59**,
   2–5.

   .. rubric:: References
      :name: references

   Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) *The New S
   Language*. Wadsworth & Brooks/Cole. (has ``iris3`` as ``iris``.)

   .. rubric:: See Also
      :name: see-also

   ``matplot`` some examples of which use ``iris``.

   .. rubric:: Examples
      :name: examples

   ::

      dni3 <- dimnames(iris3)
      ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                              dimnames = list(NULL, sub(" L.",".Length",
                                              sub(" W.",".Width", dni3[[2]])))),
          Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
      all.equal(ii, iris) # TRUE

In [5]:
iris = iris_data.data
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
iris.to_csv('iris.csv', sep=',', index=False)
iris.to_csv('iris.csv.gz', sep=',', index=False, compression='infer')

In [8]:
iris2 = pd.read_csv('iris.csv')
iris2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 3. 이름 지정하기

In [9]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
# 열 이름 지정
iris.columns = ['sl', 'sw', 'pl', 'pw', 'sp']
iris.head()

    sl   sw   pl   pw      sp
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa

In [11]:
# 행 이름 지정
iris.index = range(150, 300)
iris.head()

      sl   sw   pl   pw      sp
150  5.1  3.5  1.4  0.2  setosa
151  4.9  3.0  1.4  0.2  setosa
152  4.7  3.2  1.3  0.2  setosa
153  4.6  3.1  1.5  0.2  setosa
154  5.0  3.6  1.4  0.2  setosa

In [12]:
# 레벨 이름 지정
iris = pd.read_csv("iris.csv")
iris.columns = [["sepal", "sepal", "petal", "petal", "species"], 
                ["length", "width", "length", "width", "species"]]
iris.columns.names=['sps', 'lw']
iris.head()

sps  sepal        petal       species
lw  length width length width species
0      5.1   3.5    1.4   0.2  setosa
1      4.9   3.0    1.4   0.2  setosa
2      4.7   3.2    1.3   0.2  setosa
3      4.6   3.1    1.5   0.2  setosa
4      5.0   3.6    1.4   0.2  setosa

In [13]:
iris.index = [["setosa" for i in range(50)] +
                ["versicolor" for i in range(50)] +
                    ["virginica" for i in range(50)], list(range(150))]
iris.index.names = ["sp","rownum"]
iris.head()

sps            sepal        petal       species
lw            length width length width species
sp     rownum
setosa 0         5.1   3.5    1.4   0.2  setosa
       1         4.9   3.0    1.4   0.2  setosa
       2         4.7   3.2    1.3   0.2  setosa
       3         4.6   3.1    1.5   0.2  setosa
       4         5.0   3.6    1.4   0.2  setosa

## 4. 부분 데이터 조회

In [14]:
import seaborn as sns
iris = sns.load_dataset("iris")

In [16]:
# 단일 열 조회
iris.sepal_length
iris['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [17]:
iris.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [18]:
iris.loc[0:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [19]:
iris.iloc[0:5, 0:3]

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [22]:
# 조건으로 조회하기
iris.loc[iris['species'] == 'versicolor'].head()

iris.loc[iris["species"]=="versicolor",
         ["sepal_length", "sepal_width"]].head()

    sepal_length  sepal_width
50           7.0          3.2
51           6.4          3.2
52           6.9          3.1
53           5.5          2.3
54           6.5          2.8

In [23]:
iris.loc[(iris['species']=='versicolor') &
            (iris['sepal_length'] > 6.5)].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
52           6.9          3.1           4.9          1.5  versicolor
58           6.6          2.9           4.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
75           6.6          3.0           4.4          1.4  versicolor

## 5. 데이터 삭제 및 추가

In [24]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [25]:
iris.drop([1,2,3,4]).head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa

In [26]:
iris = sns.load_dataset("iris")
iris.drop('species', axis=1).head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [27]:
iris.drop(['sepal_length', 'sepal_width'], axis=1).head()

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa

In [28]:
# 데이터프레임 요소 추가
import seaborn as sns
iris = sns.load_dataset("iris")

In [29]:
iris['year'] = 2019
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  year
0           5.1          3.5           1.4          0.2  setosa  2019
1           4.9          3.0           1.4          0.2  setosa  2019
2           4.7          3.2           1.3          0.2  setosa  2019
3           4.6          3.1           1.5          0.2  setosa  2019
4           5.0          3.6           1.4          0.2  setosa  2019

In [30]:
# 열을 추가할 때 행별로 다른 값 지정 가능
# 추가해야 할 값의 개수가 데이터프레임의 행 개수와 같아야 함.
iris['no2'] = [10, 20, 30] + [None] * 147
iris["no3"] = None
iris.loc[0:2,"no3"] = [10,20,30]
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,year,no2,no3
0,5.1,3.5,1.4,0.2,setosa,2019,10.0,10
1,4.9,3.0,1.4,0.2,setosa,2019,20.0,20
2,4.7,3.2,1.3,0.2,setosa,2019,30.0,30
3,4.6,3.1,1.5,0.2,setosa,2019,NaN,None
4,5.0,3.6,1.4,0.2,setosa,2019,NaN,None

In [31]:
# 시리즈 이용한 열 추가
iris['no4'] = pd.Series([10, 20, 30], index=[0, 1, 2])
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,year,no2,no3,no4
0,5.1,3.5,1.4,0.2,setosa,2019,10.0,10,10.0
1,4.9,3.0,1.4,0.2,setosa,2019,20.0,20,20.0
2,4.7,3.2,1.3,0.2,setosa,2019,30.0,30,30.0
3,4.6,3.1,1.5,0.2,setosa,2019,NaN,None,NaN
4,5.0,3.6,1.4,0.2,setosa,2019,NaN,None,NaN

In [34]:
# 딕셔너리로 행 추가
iris = sns.load_dataset("iris")

row1 = {
        'sepal_length':10, 
        'sepal_width':5,
        'petal_length':20,
        'petal_width':10,
        'species':'setosa'
       }

new_iris = iris.append(row1, ignore_index=True)
new_iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
150          10.0          5.0          20.0         10.0     setosa

In [35]:
# 시리즈 이용한 리스트 데이터의 행 추가
new_row = pd.Series([1,2,3,4,"versicolor"], index=iris.columns)
new_row

sepal_length             1
sepal_width              2
petal_length             3
petal_width              4
species         versicolor
dtype: object

In [36]:
new_iris = iris.append(new_row, ignore_index=True)
new_iris.tail()

     sepal_length  sepal_width  petal_length  petal_width     species
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica
150           1.0          2.0           3.0          4.0  versicolor

## 6. 데이터프레임 병합과 연결

In [37]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'f'], 'c1': [1, 2, 3, 5]})
df2 = pd.DataFrame({'key': ['a', 'b', 'd', 'f'], 'c2': [5, 6, 7, 8]})

# 각자 존재하지 않은 컬럼은 제외
# inner join
df1.merge(df2)

  key  c1  c2
0   a   1   5
1   b   2   6
2   f   5   8

In [38]:
# left outer join
df1.merge(df2, how='left')

  key  c1   c2
0   a   1  5.0
1   b   2  6.0
2   c   3  NaN
3   f   5  8.0

In [39]:
# right outer join
df1.merge(df2, how='right')

  key   c1  c2
0   a  1.0   5
1   b  2.0   6
2   d  NaN   7
3   f  5.0   8

In [40]:
# full outer join
df1.merge(df2, how='outer')

  key   c1   c2
0   a  1.0  5.0
1   b  2.0  6.0
2   c  3.0  NaN
3   f  5.0  8.0
4   d  NaN  7.0

In [41]:
df3 = pd.DataFrame({'key3': ['a', 'b', 'c', 'f'], 'c1': [1, 2, 3, 5]})
df4 = pd.DataFrame({'key4': ['a', 'b', 'd', 'f'], 'c2': [5, 6, 7, 8]})

# 기준 열 명시
df3.merge(df4, left_on='key3', right_on='key4')

  key3  c1 key4  c2
0    a   1    a   5
1    b   2    b   6
2    f   5    f   8

In [42]:
# 인덱스 기준 병합
df3.merge(df4, left_index=True, right_index=True)

  key3  c1 key4  c2
0    a   1    a   5
1    b   2    b   6
2    c   3    d   7
3    f   5    f   8

In [43]:
# concat
df1 = pd.DataFrame({'c1': [1, 2, 3, 4],
                    'c2': [5, 6, 7, 8]})
df2 = pd.DataFrame({'c3': ['a', 'b', 'c', 'd'],
                    'c4': [1.2, 3.4, 5.5, 7.6]})

pd.concat([df1,df2], axis=1)

   c1  c2 c3   c4
0   1   5  a  1.2
1   2   6  b  3.4
2   3   7  c  5.5
3   4   8  d  7.6

## 7. 정렬

In [44]:
import seaborn as sns
iris = sns.load_dataset("iris")

## 8. 기초 통계 분석

In [45]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
import warnings
warnings.filterwarnings('ignore')
iris.min()
iris.max()
iris.mean()
iris.median() # 중위수

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [54]:
iris.var()
iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [55]:
iris.cov() # 공분산

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

In [56]:
iris.corr() # 상관계수

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [57]:
# 기본 통계 정보
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [58]:
iris.species.describe()

count        150
unique         3
top       setosa
freq          50
Name: species, dtype: object

In [59]:
df = pd.DataFrame({'a': [1, 2] * 3,
                    'b': [True, False] * 3,
                    'c': [2.0, 4.0] * 3})
df.describe()

              a         c
count  6.000000  6.000000
mean   1.500000  3.000000
std    0.547723  1.095445
min    1.000000  2.000000
25%    1.000000  2.000000
50%    1.500000  3.000000
75%    2.000000  4.000000
max    2.000000  4.000000

In [61]:
# df.describe(include=["int64"])
df.describe(exclude=["bool", "float64"])

              a
count  6.000000
mean   1.500000
std    0.547723
min    1.000000
25%    1.000000
50%    1.500000
75%    2.000000
max    2.000000

In [62]:
df.describe(include='all')

               a     b         c
count   6.000000     6  6.000000
unique       NaN     2       NaN
top          NaN  True       NaN
freq         NaN     3       NaN
mean    1.500000   NaN  3.000000
std     0.547723   NaN  1.095445
min     1.000000   NaN  2.000000
25%     1.000000   NaN  2.000000
50%     1.500000   NaN  3.000000
75%     2.000000   NaN  4.000000
max     2.000000   NaN  4.000000

## 9. 데이터 그룹화 및 집계

In [63]:
import seaborn as sns
iris = sns.load_dataset("iris")

In [64]:
iris_grouped = iris.groupby(by=iris.species)
iris_grouped.mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

## 10. 데이터 구조 변경

## 11. 데이터프레임에 함수 적용하기

## 12. 결측치 처리 및 변경하기

## 13. 시리즈

## 14. 시각화

## 15. 연습문제